*{  
    padding: 20px 10px 10px;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
}
body{
    background-image: url(/meu_hobby/imagem/fundopreto.png);
    background-repeat: repeat;
    background-position: top left;
    background-size: auto auto;
}

nav a{

    color: rgb(255, 255, 202);
    text-decoration:  none;
    padding: 10px 10px 10px 10px;
    font-size: 40px
}

h1, p{
    color: rgb(rgb(250, 204, 204), rgb(166, 224, 166), rgb(98, 98, 158))
}
img{
width: 250px;
}

#FUTEBOL{
    height: 50vh;
}

#CORINTHIANS {
    margin-top: 5vh;
    
}

#CAMISA-ATUAL{
     margin-top: 5vh;
    
}
.lado-lado{
    font-size: 30px;
}


#inicio h1{
    font-size: 35px;
}

#CORINTHIANS H1{
    font-size: 35px ;
}


#CAMISA-ATUAL h1{

    font-size: 35px;
}
